[alias]
    st = status
    prelog = log --graph --decorate --oneline
    diff = diff --color-words
[user]
	name = naokami3
	email = 2898782+naokami3@users.noreply.github.com
[core]
	editor = vim
[pull]
	rebase = false
