[alias]
    st = status
    prelog = log --graph --decorate --oneline
    diff = diff --color-words
[user]
	name = NaokiKamimura
	email = n.kamimura1988@gmail.com
[core]
	editor = vim
[pull]
	rebase = false
